// 标准色
$color-main-1a = #1A1D3D
$color-cut-line-ff16 = rgba(255, 255, 255, 0.16)
$color-cut-line-ed = #EDEDED
$color-background-ff = #FFFFFF
$color-background-f6 = #F6F7FA
$color-background-fa = #FAFAFA
$color-text-2d = #2D2D2D
$color-text-a4 = #A4A4A4
$color-text-95 = #959DBD
$color-text-00 = #000000
$color-assist-27 = #273156
$color-assist-34 = #3460EC
$color-assist-2a = #2AC3FF
$color-assist-33 = #3364FF
$color-assist-47 = #4778C0
$color-assist-6d = #6D42E6
$color-assist-ffd = #FFD708
$color-assist-7c = #7CC1E7
$color-assist-c9 = #C9826B
$color-assist-28 = #28D618
$color-assist-333 = #333333
$color-assist-36 = #363547

// 颜色定义规范
$color-wx-1a = #1AC521
$color-background-f9 = #f9f9f9
$color-text-46 = #464646
$color-text-9b = #9b9b9b
$color-master-70 = #706B82
$color-dot-4a = #4A557A
$color-dot-a7 = #A7AFCD
$color-pro-bg-1f = #1F2347
$color-background-e9 = #E9EDF9
$color-ktv-theme = #FF4E00
// 横线色值
$color-row-line-f0 = #F0EFF5
$color-row-line-3f = #3F4661
$color-col-line-cd = #CDCDCD
// 竖线色值

// 遮罩
$color-mask-bgc = rgba(54, 53, 71, .5)
// 字体
$font-family-din = 'DIN Alternate'
$font-family-regular = 'PingFangSC-Regular'
$font-family-light = 'PingFangSC-Light'
$font-family-meddle = 'PingFangSC-Medium'
$font-family-bold = 'PingFangSC-Semibold'
$font-family-impact = 'Impact'
$font-family-thin = 'PingFangSC-Thin'

// 字体定义规范
$font-size-small-ss = 9px
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-m = 20px
$font-size-large-x = 22px
$font-size-large-xx = 24px
$font-size-shop = 30px
$font-size-shop-x = 44px
