// 通用颜色(base引用样式)
$color-background = #F4F5F7
$color-white = #FFFFFF
$color-black = #000000
$color-text = #1F1F1F
$color-row-line = rgba(153, 160, 170, .3)
$color-col-line = rgba(153, 160, 170, .3)
// 遮罩
$color-mask-bgc = rgba(0, 0, 0, .7)
// 字体
$font-family-regular = 'PingFangSC-Regular'
$font-family-light = 'PingFangSC-Light'
$font-family-medium = 'PingFangSC-Medium'
$font-family-bold = 'DINAlternate-Bold'
// 字体定义规范
$font-size-10 = 10px
$font-size-12 = 12px
$font-size-14 = 14px
$font-size-16 = 16px
$font-size-18 = 18px
$font-size-20 = 20px
$font-size-22 = 22px
$font-size-24 = 24px
$font-size-24 = 26px
$font-size-24 = 28px
$font-size-30 = 30px
